@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --purple-1: #6335b4;
  --purple-2: #7748d6;
  --green-1: #00af79;
  --green-2: #00af79;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 62.5%;
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'rixrak-sans-pro', 'Rix Rak Sans Pro';
  /* font-family: 'Rix Rak Sans Pro', sans-serif; */
  letter-spacing: -0.32px;
  color: #222;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

@keyframes skeletonAni {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

.skeleton-ani {
  background: linear-gradient(to right, #DDD 0%, #f6f6f6 50%, #DDD 100%) 50% 0 / 300%;
  animation: skeletonAni 1s infinite linear alternate;
}